
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">
					<f:render section="ButtonsLeft" />
				</div>
				<div class="buttonsright">
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages class="tx-extbase-flash-message" />
				<div id="news-administration">
					<f:render section="Content" />
				</div>
			</div>
		</div>
	</div>
</f:be.container>
